<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>quiz</title>
        <link rel="stylesheet" href="../css/button.css">
        <link rel="stylesheet" href="../css/quiz.css">
        <link rel="stylesheet" href="../css/font.css">
        <script src="../../lib/angular.min.js"></script>
        <script src="../js/quiz.js"></script>
    </head>
    <body>
        <div class="window" ng-app="quiz" ng-controller="buttonCtrl" ng-init="rightAnswer='B';Qnumber=4;">
            <h1 class="chapter"><strong>Quiz Time!</strong></h1>
            <div class="info">
                <p>I am the firewall of the computer.</p>
                <p>You need answer my questions to gain the access to this PC.</p>
            </div>
            <p class="question">Q4: I want to know where is at 5:00am when the Beijing time is 20:00pm.</p>
            <p class="default" ng-show="showDefault">Tips: Due to the time differences, My brother have to stay at work until late to call many countries.</p>
            <p class="answerA" ng-show="showA">You choose A: Paris</p>
            <p class="answerB" ng-show="showB">You choose B: Los Angeles</p>
            <p class="answerC" ng-show="showC">You choose C: Moscow</p>
            <p class="answerD" ng-show="showD">You choose D: London</p>
            <div class="buttons">
                <button class="left" ng-click="changeMind()">Change your mind</button>
                <button class="right" ng-click="answer()">Answer</button>
                <hr>
            </div>
        </div>
    </body>
</html>