<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>quiz</title>
        <link rel="stylesheet" href="../css/button.css">
        <link rel="stylesheet" href="../css/quiz.css">
        <link rel="stylesheet" href="../css/font.css">
        <script src="../../lib/angular.min.js"></script>
        <script src="../js/lastQuiz.js"></script>
    </head>
    <body>
        <div class="window" ng-app="quiz" ng-controller="buttonCtrl">
            <h1 class="chapter"><strong>Quiz Time!</strong></h1>
            <div class="info">
                <p>I'm the firewall of the computer, I'm so surprised that you can find here.</p>
                <p>Now you should answer my final question!</p>
                <p>If your answer is satisfying, I will tell you where's your brother.</p>
            </div>
            <p class="question">Talk to me if you find a keyword during the game.</p>
            <p class="default" ng-show="showDefault">Tips: Tell AI the KEYWORD(You may find it somewhere else) and click the answer button.</p>
            <div class="buttons">
                <button class="left" ng-click="talk()">Talk</button>
                <button class="right" ng-click="checkAnswer()">Answer</button>
                <hr>
                <input type="text" ng-show="quizSwitch" ng-model="answer" ng-keyup="syncAnswer()">
                <p class="answer">My answer is {{ answerText }}.</p>
            </div>
        </div>
    </body>
</html>