<!DOCTYPE html>
<html lang="en" ng-app="20_stage">
<head>
    <meta charset="UTF-8">
    <title>stage_30</title>
    <link rel="stylesheet" href="../css/20_realWorld.css" type="text/css">
    <link rel="stylesheet" href="../css/button.css" type="text/css">
    <link rel="stylesheet" href="../css/font.css">
</head>
<body ng-controller="20_ctrl">
<script src="../../lib/angular.min.js"></script>
<script type="text/javascript" src="../js/20_realWorld.js"></script>
<div class="window" ng-model="value">
    <div class="puzzle_title" style="font-family: Karmakooma;font-size: 50px;color: white;">Real world</div>
    <div class="puzzle_img">
        <img ng-if="real_time == 'night'" src="../img/20_realWorld_puzzle_night.jpg" alt="">
        <img ng-if="real_time == 'day'" src="../img/20_realWorld_puzzle_day.jpg" alt="" id="img_day">
    </div>
    <p class="puzzle_discr" style="font-family: CFRobertNelson-Regular;font-size: 24px;">
        <strong>EVENING</strong> is great time for counting stars,
        <br>
        but until <strong>MORNING</strong> we cant find much more...
    </p>
    <br>
    <!--下面这里是谜题的输入框-->
    <input type="text" ng-model="input_text" class="puzzle_input">
    <button class="btn_left" ng-click="act()">Act</button>
    <button class="btn_right" ng-click="go_next()">Next</button>
    <p style="font-family: CFRobertNelson-Regular;font-size: 24px;">{{ tip }}</p>
</div>
</body>
</html>