<!DOCTYPE html>
<html lang="en" ng-app="33_stage">
<head>
    <meta charset="UTF-8">
    <title>stage_30</title>
    <link rel="stylesheet" href="../css/33_openTheSave.css" type="text/css">
    <link rel="stylesheet" href="../css/button.css" type="text/css">
    <link rel="stylesheet" href="../css/font.css">
</head>
<body ng-controller="33_ctrl">
<script src="../../lib/angular.min.js"></script>
<script type="text/javascript" src="../js/33_openTheSave.js"></script>
<div class="window" ng-model="value">
    <div class="puzzle_title" style="font-family: Karmakooma;font-size: 50px;color: white;">Take it away</div>
    <div class="puzzle_img">
        <img src="../img/33_img_bg.png" alt="stage_33_img">
        <img ng-if="state_open == true" id="img_open" src="../img/33_cap_open.png" alt="stage_33_img">
        <img ng-if="state_close == true" id="img_close" src="../img/33_cap_close.png" alt="stage_33_img">
        <img ng-if="state_note == true" id="img_note" src="../img/33_note.png" alt="stage_33_img">
        <img ng-if="state_nameplate == true" id="img_nameplate" src="../img/33_nameplate.png" alt="stage_33_img">
    </div>
    <p class="puzzle_discr" style="font-family: CFRobertNelson-Regular;font-size: 24px;">Use following actions to finish your job.</p><br>
    <!--下面这里是谜题的输入框-->
    <input type="text" ng-model="input_text" class="puzzle_input">
    <button class="btn_left" ng-click="act()">Act</button>
    <button class="btn_right" ng-click="go_34()">Next</button>
    <p style="font-family: CFRobertNelson-Regular;font-size: 24px;">{{ tip }}</p>
    <p style="font-family: CFRobertNelson-Regular;font-size: 24px;">
        Commands you can use in the input box:
        <br>read take put
    </p>
</div>
</body>
</html>