/*setup*/
/**{
  margin: 0;
  padding: 0;
}*/

@font-face {
  font-family: 'Monoton';
  font-style: normal;
  font-weight: 400;
  src: local('Monoton'), local('Monoton-Regular'), url(ld34.woff) format('woff');
}

#container{
  width:500px;
  margin:auto;
}

/*neeeeoooon*/
p{
/*  text-align:center;*/
  font-size:4em;
  margin:20px 0 20px 0; 

}
a{
  text-decoration:none; 
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  transition: all 0.8s;
}
p.ld34 {
  cursor: default;
  color:#59FF00;
  font-family:Monoton;
}
p.ld34:hover {
  -webkit-animation: neon1 2s ease-in-out infinite alternate;
  -moz-animation: neon1 2s ease-in-out infinite alternate;
  animation: neon1 2s ease-in-out infinite alternate;
  color:#ffffff; 
}
/*glow for webkit*/
@-webkit-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #59FF00,
               0 0 70px  #59FF00,
               0 0 80px  #59FF00,
               0 0 100px #59FF00,
               0 0 150px #59FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #59FF00,
               0 0 35px #59FF00,
               0 0 40px #59FF00,
               0 0 50px #59FF00,
               0 0 75px #59FF00;
  }
}

/*glow for mozilla*/
@-moz-keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #59FF00,
               0 0 70px  #59FF00,
               0 0 80px  #59FF00,
               0 0 100px #59FF00,
               0 0 150px #59FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #59FF00,
               0 0 35px #59FF00,
               0 0 40px #59FF00,
               0 0 50px #59FF00,
               0 0 75px #59FF00;
  }
}

/*glow*/
@keyframes neon1 {
  from {
    text-shadow: 0 0 10px #fff,
               0 0 20px  #fff,
               0 0 30px  #fff,
               0 0 40px  #59FF00,
               0 0 70px  #59FF00,
               0 0 80px  #59FF00,
               0 0 100px #59FF00,
               0 0 150px #59FF00;
  }
  to {
    text-shadow: 0 0 5px #fff,
               0 0 10px #fff,
               0 0 15px #fff,
               0 0 20px #59FF00,
               0 0 35px #59FF00,
               0 0 40px #59FF00,
               0 0 50px #59FF00,
               0 0 75px #59FF00;
  }
}

/*REEEEEEEEEEESPONSIVE*/
@media (max-width: 650px) {
  
  #container{
    width: 100%;
  }
  
  p{
    font-size:3.5em;
  }

}