*{
    margin:0;
    padding:0;
}

html{
    background-color: black;
}

body{
    text-align: center;
}

div{
    color: white;
    padding:5px;
}
.puzzle_discr{
    padding:3px;
}