*{
    margin:0;
    padding: 0;
}

.window{
    width:622px;
    min-height:482px;
    background-color: #ae9667;
    text-align: center;
    overflow: hidden;
}

.puzzle_img{
    width:450px;
    height:316px;
    background-color: #fff043;
    margin:0 auto;
}

#img_open{
    position:absolute;
    top:55px;
    left:85px;
    z-index: 5;
}

#img_close{
    position: absolute;
    top:55px;
    left:85px;
    z-index: 10;
}

#img_note{
    position: absolute;
    top:45px;
    left:120px;
    z-index: 15;
}

#img_nameplate{
    position: absolute;
    top:65px;
    left:80px;
    z-index: 20;
}
.puzzle_discr{
    padding:3px;
}