* {
    margin: 0;
    padding: 0;
}
img.tips_bg {
    position: fixed;
    width: 100%;
    z-index: -1;
}
img.tips {
    position: fixed;
    margin: 0 auto;
    width: 70%;
    z-index: -1;
}
blockquote {
    position: fixed;
    margin: 0 auto;
    top: 5%;
    color: #D7E1E3;
    font-family: 
    font-weight: bold;
    font-size: 26px;
    max-width: 600px;
}
button {
    position: fixed;
    margin: 0 auto;
    width: 200px;
    bottom: 20px;
}
button.left {
    left: 20px;
}
button.right {
    right: 20px;
}